---
import HeadCommon from '../components/astro/head/HeadCommon.astro';
import HeadSeo from '../components/astro/head/HeadSeo.astro';
import Header from '../components/astro/header/Header.astro';
import PageContent from '../components/astro/content/PageContent.astro';
import LeftSidebar from '../components/astro/sideBar/LeftSidebar.astro';
import RightSidebar from '../components/astro/sideBar/RightSidebar.astro';
import config from '../config/index';

const {currentPage, content} = Astro.props;
const baseURL = "http://localhost:4321";
const currentPath = new URL(Astro.request.url).pathname;
const canonicalURL = `${baseURL}${currentPath}`;
const dir = content?.dir ?? 'ltr';
const lang = content?.lang ?? 'en';
const title = content?.title ? `${content.title} 🚀 ${config.SITE.title}` : config.SITE.title;
---

<!doctype html>
<html dir={dir} lang={lang} class="initial">
<head>
    <HeadCommon/>
    <HeadSeo content={content} canonicalURL={canonicalURL}/>
    <title>{title}</title>
</head>
<body class="bg-slate-100">
<div class="sticky top-0 z-10 w-full">
    <Header currentPage={currentPage}/>
</div>
<div class="grid grid-cols-12">
    <div class="col-span-3 sticky top-0 pt-12 h-screen flex">
        <div class="ml-auto">
            <LeftSidebar currentPage={currentPage}/>
        </div>
    </div>
    <main class="py-4 px-8 pb-32 col-span-6 overflow-auto">
        <div>
            <PageContent content={content}>
                <slot/>
            </PageContent>
        </div>
    </main>
    <div class="col-span-3 sticky top-0 h-screen flex">
        <RightSidebar content={content}/>
    </div>
</div>
</body>
</html>

<style is:global>

    h1 {
        @apply mt-7 text-3xl font-light;
    }

    h2 {
        @apply mt-7 text-4xl font-medium;
    }

    h3 {
        @apply mt-7 text-3xl font-semibold;
    }

    h4 {
        @apply mt-7 text-2xl;
    }

    p {
        @apply mt-2 text-slate-600;
    }

    a {
        @apply text-blue-600;
    }

    pre.astro-code {
        @apply mt-2;
    }

    code {
        @apply font-mono;
    }

    .component-preview {
        @apply p-16 flex gap-4 justify-center items-center bg-[url('/grid_dot.svg')] bg-repeat bg-[1.5rem] rounded-md border border-slate-200 mt-2 resize;
    }

    .astro-code {
        @apply p-4 rounded-lg;
    }

</style>